.hr-tag{
    color: black;
    margin: 0;
}

a{
    margin-top: 0;
}.sidenav {
    width: 210px;
    z-index: 1;
    top: 20px;
    left: 10px;
    background:white;
    overflow-x: hidden;
    padding: 8px 0;
    height:800px;
  }
  
  .sidenav a {
    margin-top: 20px;
    margin-right: 20px;
    padding: 0px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: block;
    border-radius: 0px 15px 10px 5px;
    text-align: left;
    font-size: medium;
  }
  
  
  
  .sidenav a:hover {
    color: #064579;
    font-size: large;
  }
  