
h2 {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

p {
  font-size: 1.2em;
}

.hero{
  background-image: url('bg19.svg');
  background-size:auto;
  width: 100%;
  height: 700px;
  color: white;
  background-repeat: no-repeat;
}
.shake{
  background-size: contain;
}


.intro{
  margin-top: 100px;
  margin-left: 30px;
  text-align: left;

}

.intro h1{
  font-size: 65px;
  font-family: "Georgia", Times, serif;
  font-weight:500;
}
.intro p{
  font-size: 22px;
  font-family: "Times New Roman", Times, serif;
  font-weight:500;
}
.home {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.home section {
  padding: 5em 0em 5em 0em;
}
.home-heading {
  padding: 0.3em;
  text-align: center;
  margin-left: 2em;
  margin-right: 2em;
  color: white;
  font-size: 50px;font-family: "Georgia", Times, serif;
  font-weight:500;
}

.home .hero-section {
  padding-top: 4em;
  align-items: center;
}
.home .hero-section .edowl-logo {
  margin: 2em auto;
  height: 255px;
  width: 255px;
  border-radius: 4em;
  background: #ffb700f4;
}
.home .hero-section .edowl-logo:hover {
  border: 5px DOUBLE white;
}

.list-card{
  /* background-image: url('bg18.svg'); */
  background-color: black;
  padding-bottom: 90px;

}

.list-card .row{
  padding-top: 100px;
  margin-left: 90px;
  border-radius: 50px;
  margin-right: 90px;
}

.card-info{
  text-align: left;
  color:white;
}

.card-info h2{
  text-align: left;
  margin-top: 100px;
  font-size: xx-large;
}

.card-info p{
  font-size: larger;

}

.card-info button{
margin-left: 10px;}

.home .features-section {
  padding-top: 1em;
  border-radius: 30px;
  color: white;
  margin-bottom: 4em;
}
.home .features-section .description {
  padding: 0;
}
.home .features-section .features-list {
  margin: auto;
  padding: 1em;
  display: inline-block;
  padding-top: 1em;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 auto;
  flex-grow: 1;
}
.home .features-section .features-list .features-element {
  margin: 2em auto;
  color: black;
  max-width: 400px;
  border-radius: 2em;
  border: 8px solid black;
  background: white;
  margin-bottom: 0.7em;
  border: 0;
}
.home .features-section .features-list .features-element .features-image {
  width: 100px;
}
.home .features-section .features-list .features-element .feature-title {
  text-align: center;
  font-weight: bold;
}
.home .features-section .features-list .features-element .feature-text {
  margin: 0;
  margin-bottom: 30px;
}

.cardbtn{  border-color: black;
  }

@media only screen and (max-width: 600px) {
  .home .hero-section {
    padding-top: 3em;
  }
  .home .home-description {
    all: revert;
    margin: 1em;
  }
  .home .features-section .features-list .features-element .feature-title {
    font-size: 22px;
    margin: 0.3em;
  }
  .home .features-section .features-list .features-element .feature-text {
    font-size: 14px;
  }
  .home .contact-Section .contact-details {
    width: 70%;
  }
  .home .contact-Section .contact-details .map {
    margin: 1em;
    margin-top: 1.3em;
    border-radius: 1.5em;
    width: 70%;
  }
}/*# sourceMappingURL=Home.css.map */