
:root{
  scroll-behavior: smooth;
  font-family: Quicksand;
  
  background-repeat: no-repeat;

  --LightGray: rgb(230, 230, 230);
  

  --LighterBlue: #c2d6ff;
  --LightBlue:rgb(7, 180, 249); 
  --LightBlueBlendForGradient:#0497d2; 
  
  
  --MediumBlue: #017ecf;
  --DarkBlue: #0765c3;
  --GradientLighterBlue: linear-gradient(0deg, #017ecf 0%, rgba(1,147,207,1) 100%);
  --GradientDarkerBlue: linear-gradient(0deg, rgba(7,101,195,1) 0%, rgba(0,72,144,1) 100%);
  --GradientRoundLighterBlue: radial-gradient(circle, rgb(1, 100, 166) 0%, rgb(4, 163, 226) 100%);
  --GradientRoundLighterBlueReversed: radial-gradient(circle, rgb(4, 163, 226) 0%, rgb(1, 100, 166)  140%);
  --GradientRoundLighterBlueReversed2: radial-gradient(circle, rgb(4, 163, 226) 60%, rgb(1, 100, 166)  140%);

  --LightYellow: #fcb134;
  --MediumYellow: rgb(194,136,41);
  --AlternateYellow:rgb(236, 173, 72);
  --GradientYellow: linear-gradient(0deg, rgba(194,136,41,1) 0%, rgba(252,177,52,1) 100%);
  --GradientRoundYellow: radial-gradient(circle, rgba(194,136,41,1) 0%, rgba(252,177,52,1) 100%);
  --GradientRoundYellow2: radial-gradient(circle, rgb(208, 144, 42) 0%, rgba(252,177,52,1) 100%);

  --GradientBluePink: radial-gradient(circle, rgba(255,194,204,1) 0%, rgba(194,214,255,1) 100%);

  --GradientRoundWhite: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(231,231,231,1) 100%);
  --GradientRoundWhite2: radial-gradient(circle, rgba(255,255,255,1) 0%, rgb(210, 210, 210) 100%);
  --GradientMediumGray:radial-gradient(circle, rgb(213, 211, 211) 0%, rgb(176, 176, 176) 100%);

  --GradientRoundYellow: radial-gradient(circle, rgba(194,136,41,1) 0%, rgba(252,177,52,1) 100%);
  --GradientYellowBlendForGradient2: linear-gradient(180deg, rgb(223, 156, 47) 0%, rgb(228, 161, 44) 100%);
  --GradientYellowBlendForGradient3: linear-gradient(180deg, rgb(240, 166, 46) 0%, rgb(236, 172, 62) 100%);

  --LightBlueBlendForGradient2:linear-gradient(180deg, rgba(13,121,192,1) 35%, rgb(0, 151, 211) 100%);
  --LightBlueBlendForGradient3:linear-gradient(180deg, rgba(13,121,192,1) 35%, rgb(0, 145, 202) 100%);
  --LightBlueBlendForGradient4:linear-gradient(180deg, rgb(6, 125, 205) 35%, rgb(2, 125, 173) 100%);


  user-select: none;
  cursor: 
  
  url("/public/Image/round-cursor.png")
  /* url("https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png") */
  30 30,
auto;

height: 100%;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;

  background-repeat: no-repeat;

  --LighterBlue: rgb(194,214,255);
  --LightBlue:rgb(1,147,207); 
  --MediumBlue: rgb(1, 126, 207);
  --DarkBlue: rgb(7, 101, 195);
  --GradientRoundLighterBlue: radial-gradient(circle, rgb(1, 100, 166) 0%, rgb(4, 163, 226) 100%);
  --GradientLighterBlue: linear-gradient(0deg, rgba(1,126,207,1) 0%, rgba(1,147,207,1) 100%);
  --GradientDarkerBlue: linear-gradient(0deg, rgba(7,101,195,1) 0%, rgba(0,72,144,1) 100%);
  
  --NavShapeFill: #0765c3;
  --LighterYellow: rgb(247, 185, 78);
  --LightYellow: rgb(252,177,52);
  --MediumYellow: rgb(194,136,41);
  --GradientYellow: linear-gradient(0deg, rgba(194,136,41,1) 0%, rgba(252,177,52,1) 100%);

  --GradientRoundYellow: radial-gradient(circle,  rgb(186, 131, 41) 0%, rgba(252,177,52,1) 100%);
  --GradientRoundReverseYellow: radial-gradient(circle,    rgb(197, 136, 38) 0%, rgb(250, 184, 69) 100%);
  --GradientRoundYellow: radial-gradient(circle,   rgba(252,177,52,1) 0%, rgba(194,136,41,1) 100%);

  --GradientRoundBluePink: radial-gradient(circle, rgba(255,194,204,1) 0%, rgba(194,214,255,1) 100%);

  --GradientRoundWhite: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(231,231,231,1) 100%);
}

#key-correct {
  background-color: #528d4e;
}

#key-almost {
  background-color: #b49f39;
}

#key-error {
  background-color: #595959;
}

body:hover {
  cursor: 
  
  url("/public/Image/round-cursor.png")
  /* url("https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png") */
  30 30,
  
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}

.App-link {
  color: #61dafb;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ::-webkit-scrollbar{
  display:none
} */


  button#submit-assignment:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
  }


.font{
  scroll-behavior: smooth;
  font-family: Quicksand;
  
}

.font > *{
  text-align: center;
}
.font > * > *{
  text-align: center;
}

#text{
  font-size: 16px;
}
.input{
  width: 150px !important;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
  text-align: center;
  border: 4px outset rgb(175, 175, 175);
}

.btn {
  margin: 1em;
  -webkit-transition: -webkit-transform .6s;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s, -webkit-transform .6s;
  /* Animation */
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.btn:hover {
  font-weight: bold;
  -webkit-transition: -webkit-transform .6s;
  transition: -webkit-transform .6s;
  transition: transform .6s;
  transition: transform .6s, -webkit-transform .6s;
  /* Animation */
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  /* border-color: white */
  border: 1px solid white;
}

.tiny-scale{
  transition: transform .6s; /* Animation off */
  transform: scale(1);
}
.tiny-scale:hover{
  transition: transform .6s; /* Animation */
  transform: scale(1.02);
}
.small-scale{
  transition: transform .6s ease-out; /* Animation off */
  transform: scale(1);
}
.small-scale:hover{
  transition: transform .6s; /* Animation */
  transform: scale(1.04);
}
.medium-scale{
  transition: transform .6s; /* Animation off */
  transform: scale(1);
}
.medium-scale:hover{
  transition: transform .6s; /* Animation */
  transform: scale(1.06);
}
.big-scale{
  transition: transform .6s; /* Animation off */
  transform: scale(1);
}
.big-scale:hover{
  transition: transform .6s; /* Animation */
  transform: scale(1.1);
}

.emoj{
  width: 5em;
  background: rgb(194,136,41);
  background: linear-gradient(0deg, rgba(194,136,41,1) 0%, rgba(252,177,52,1) 100%);
  border-radius: 1em;
  margin: 1em;
}


.vote-title{
  margin: 0;
  padding: 0;
}

.vote-emoj{
  padding: 0.4em;
  margin: 0;
}

.rating-down {
  transform: rotate(180deg);
  transition: transform 0.6s; /* Animation */
}

.rating-up {
  transform: rotate(360deg);
  transition: transform 0.6s; /* Animation */
}



.modules-register-list {
  list-style: none;
  background: var(--LightGray);
  border-radius: 15px;
  margin-bottom: 0;
  overflow: scroll;
  max-height: 466px;
  padding: 1em;
}

.modules-register-list .modules-register-entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background: white;
  border-radius: 15px;
  height: 90px;
}

.modules-register-list .modules-register-entry .modules-entry-text {
  text-align: left;
  margin: 1em;
}

.modules-register-list .modules-register-entry .modules-entry-text .module-entry-name {
  margin: 0;
  padding: 0;
}

.modules-register-list .modules-register-entry .module-entry-add {
  max-height: 40px;
  position: absolute;
  right: 5px;
  top: 10px;
}

.rank-table table tr{
  background-color: #093f90;
  color: white;
  padding-top: 5px;
  margin-bottom: 5px;
  border: 5px solid rgb(0, 0, 0) ;
  
}

table td{
  font-size: 16px;
  font-weight: bold;
}



th{
  color: #fcb134;
  background-color: black;
  
}

.tab-rank-table table tr{
  color: black;
  padding-top: 5px;
  margin-bottom: 5px;
  border: 2px solid rgb(0, 0, 0) ;
  
}

.tab-rank-table{
  padding-left: 90px;
  border-collapse: collapse;

}

.rank-table{
  margin-left: 180px;
  border-collapse: collapse;

}

.leaderboard-container{
  margin-top: 20px !important;
  background-color: white;
  width: 70% !important;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  height: auto;
  overflow-y: auto;
  border-radius: 20px;
}



@media only screen and (max-width: 500px) {
  h2 {
    font-size: 0.9em;
  }
  h1 {
    font-size: 0.9em;
  }
  p {
    font-size: 0.9em;
  }
  label {
    font-size: 0.5em;
  }
  ::-webkit-input-placeholder {
    font-size: 0.8em;
  }
  :-ms-input-placeholder {
    font-size: 0.8em;
  }
  ::-ms-input-placeholder {
    font-size: 0.8em;
  }
  ::placeholder {
    font-size: 0.8em;
  }
  .contact-us-form {
    font-size: 0.8em;
    padding: 0 auto;
    margin: 0 auto;
  }
  .home-feature{
    font-size: 0.9em;
  }
}


.main {
margin-left: 140px; /* Same width as the sidebar + left position in px */
font-size: 28px; /* Increased text to enable scrolling */
padding: 0px 10px;
}

@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}